<h3>销售记录</h3>
<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>店铺名称</th>
                            <th>商品名称</th>
                            <th>数量</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sale of salesRecords">
                            <td>{{ sale.id }}</td>
                            <td><a [routerLink]="['/sales/shop', sale.shop]">{{ sale.shopName }}</a></td>
                            <td>{{ sale.merchandiseName }}</td>
                            <td>{{ sale.number }}</td>
                            <td>{{ sale.created | date:"MM/dd/yyyy" }}</td>
                            <td>{{ sale.updated | date:"MM/dd/yyyy" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
