<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Shop</th>
                            <th>Merchandise</th>
                            <th>Number</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sale of displaySales">
                            <td>{{ sale.id }}</td>
                            <td><a [routerLink]="['/sales/shop', sale.shopID]">{{ sale.shopName }}</a></td>
                            <td>{{ sale.merchandiseName }}</td>
                            <td>{{ sale.number }}</td>
                            <td>{{ sale.created | date:"MM/dd/yyyy" }}</td>
                            <td>{{ sale.updated | date:"MM/dd/yyyy" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
