<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>店铺名称</th>
                            <th>商品名称</th>
                            <th>数量</th>
                            <th>供应商</th>
                            <th>创建时间</th>
                            <th>更新时间</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let info of stockInfos.reverse()">
                            <td>{{ info.id }}</td>
                            <td>{{ info.shopName }}</td>
                            <td>{{ info.merchandiseName }}</td>
                            <td>{{ info.number }}</td>
                            <td>{{ info.supplierName }}</td>
                            <td>{{ info.created | date:"MM/dd/yyyy" }}</td>
                            <td>{{ info.updated | date:"MM/dd/yyyy" }}</td>
                            <!-- <td>{{ customer.orderTotal | currency:'USD':'symbol' }}</td>
                            <td><a [routerLink]="['/customers',customer.id,'orders']">View Orders</a></td> -->
                        </tr>
                        <!-- <tr *ngIf="!customers.length">
                            <td>&nbsp;</td>
                            <td colspan="7">No Records Found</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
