<div class="container">
    <div class="stock-In">
        <form (ngSubmit)="submit()" #storeForm="ngForm" class="store-form" novalidate>
          <div class="form-group">
            <label>Shop Name</label>
            <select input type="text" class="form-control selectpicker show-tick" 
                    name="shopId" [(ngModel)]="stockIn.shopID" #shopId="ngModel" required>
              <option *ngFor="let shop of shops" [value]="shop.id">{{shop.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Mechandise Barcode</label>
            <input type="text" class="form-control" name="mechandisId" [(ngModel)]="merchandiseQuery.barcode" #mechandisId="ngModel" required>
            <span class="form-group-btn">
                <button class="btn btn-default" (click)="queryId($event)">search</button>
           </span>
            <p>-------------merchandiseID: {{stockIn.merchandiseID}}</p>
          </div>
          <div class="form-group">
            <label>Number</label>
            <input type="text" class="form-control" name="number" [(ngModel)]="stockIn.number" #number="ngModel" required>
          </div>
          <div class="form-group">
            <label>Supplier Name</label>
            <select input type="text" class="form-control" name="supplierId" [(ngModel)]="stockIn.supplierID" #supplierId="ngModel" required>
                <option value="-1"></option>
                <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.companyName}}</option>
            </select>
          </div>
          <div class="form-group">
              <label>Operator Name</label>
              <input type="text" class="form-control" [value]="user.username">
              <p>-------------operatorID: {{stockIn.operator}}</p>
              <p>-------------operatorID: {{user.pk}}</p>
              <p>-------------operatorName: {{user.username}}</p>
          </div>
          <div *ngIf="stockIn">
            <div class="alert alert-warning" *ngIf="!stockIn.merchandiseID && createNewMerchandiseEnabled">
               Create New Merchandise?&nbsp;&nbsp;<button class="btn btn-danger" (click)="navigate($event)">Yes</button>&nbsp;&nbsp;
               <button class="btn btn-default" (click)="createNewMerchandiseEnabled = false">Cancel</button>
            </div>
            <!-- <button class="btn btn-danger" *ngIf="createNewMerchandiseEnabled" (click)="createNewMerchandiseEnabled = true">Create</button>&nbsp;&nbsp; -->

            <div class="pull-right" *ngIf="!createNewMerchandiseEnabled">
              <button class="btn btn-default" (click)="cancel($event)">Cancel</button>&nbsp;&nbsp;
              <button type="submit" class="btn btn-success" [disabled]="storeForm.pristine || !storeForm.valid">submit</button>
            </div>
          </div>
          <!-- <div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div> -->
        </form>
        <br />
      </div>
</div>

