<div [@routerTransition]>
  <app-page-header [heading]="'Stores'" [icon]="'fas fa-store'"></app-page-header>
  <div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li class="toolbar-item">
                        <a routerLink="/add">
                            <span class="fas fa-plus"></span> 新增店铺
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <app-stores-grid
    [stores]="stores"></app-stores-grid>

  </div>
</div>
